body {
    font-family: "Poppins", sans-serif !important;
    font-size: 15px;
    line-height: 1.5;
    color: #000;
    background-color: #F4F6F9;
}

.fs-12 {
    font-size: 12px;
}

.fs-14 {
    font-size: 14px;
}

.vrLine {
    width: 1px;
    background: #C0C6CB;
    height: auto;
}

/******************************** 
Login Page 
********************************/
.login-checkbox-label {
    font-size: 15px !important;
    font-weight: 500 !important;
}

.input-error {
    border: 1px solid #dc3545 !important;
    background-color: #ffe5e5 !important;
}

.icon-error {
    color: #dc3545 !important;
}

.font-error {
    color: #dc3545 !important;
}

.card-outline-error {
    border-top: 3px solid #dc3545 !important;
}

/* shake-animation */
@keyframes shake {

    0%,
    100% {
        transform: translateX(0);
    }

    10%,
    30%,
    50%,
    70%,
    90% {
        transform: translateX(-10px);
    }

    20%,
    40%,
    60%,
    80% {
        transform: translateX(10px);
    }
}

.shake-animation {
    animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
}

/******************************** 
Home 
********************************/

.navUserImg {
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 50%;
    background-position: center center;
    background-repeat: no-repeat;
    border: 2px solid #e4edf4;
}

.category-img {
    width: 50px;
    height: 50px !important;
    border-radius: 100% !important;
    object-fit: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.sidebar-img {
    width: 35px !important;
    height: 35px !important;
    object-fit: cover;
    border-radius: 50%;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: #e4edf4;
}

/******************************** 
Profile
********************************/

.profile-wrapper {
    border: 1px dashed #C0C6CB;
    padding: 15px 10px;
    border-radius: 8px;
}

.mainProfileImg {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: #e4edf4;

}

.profileImg-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgWrapper {
    width: 100px;
    height: 100px;
    color: transparent;
    transition: all 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.imgWrapper input {
    display: none;
}

.imgWrapper img {
    position: absolute;
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: #e4edf4;
}

.imgWrapper .-label {
    cursor: pointer;
    height: 100px;
    width: 100px;
}

.imgWrapper:hover .-label {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, .8);
    z-index: 10000;
    color: #fafafa;
    transition: background-color 0.2s ease-in-out;
    border-radius: 100px;
    margin-bottom: 0;
    text-align: center;
}

.imgWrapper span {
    padding: 0.2em;
    height: 2em;
    display: inline-flex;
    font-weight: 400;
    font-size: 14px;
}